@import url("https://fonts.googleapis.com/css?family=Exo:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
body {
  color: #797979;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.667;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container > a {
  font-family: "Share Tech Mono";
  font-size: 2em;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button:focus {
  outline: 0;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", sans-serif;
  color: #3a414e;
  line-height: 1.25;
}
h1,
.h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 600px) {
  h1,
  .h1 {
    font-size: 50px;
  }
}
h2,
.h2 {
  font-size: 28px;
  font-weight: 700;
}
@media (min-width: 1000px) {
  h2,
  .h2 {
    font-size: 36px;
  }
}
h3,
.h3 {
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 1000px) {
  h3,
  .h3 {
    font-size: 22px;
  }
}
.pb-85px {
  padding-bottom: 45px;
}
@media (min-width: 1000px) {
  .pb-85px {
    padding-bottom: 85px;
  }
}
.section-margin {
  margin: 60px 0;
}
@media (min-width: 1000px) {
  .section-margin {
    margin: 100px 0;
  }
}
@media (min-width: 1200px) {
  .section-margin {
    margin: 135px 0;
  }
}
.section-margin--medium {
  margin: 40px 0;
}
@media (min-width: 800px) {
  .section-margin--medium {
    margin: 80px 0;
  }
}
@media (min-width: 1200px) {
  .section-margin--medium {
    margin: 120px 0;
  }
}
.section-padding {
  padding: 60px 0;
}
@media (min-width: 1000px) {
  .section-padding {
    padding: 100px 0;
  }
}
@media (min-width: 1200px) {
  .section-padding {
    padding: 135px 0;
  }
}
.section-padding--small {
  padding: 60px 0;
}
@media (min-width: 1000px) {
  .section-padding--small {
    padding: 100px 0;
  }
}
.bg-magnolia {
  background: #faf9ff;
}
.header_area {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear;
}
.header_area .navbar-right {
  min-width: 200px;
  text-align: right;
}
@media (max-width: 991px) {
  .header_area .navbar-right {
    margin: 20px 0;
  }
}
.header_area .navbar-brand {
  margin-right: 30px;
}
.header_area .navbar-social {
  min-width: 95px;
  float: right;
}
.header_area .navbar-social li {
  margin-right: 12px;
}
.header_area .navbar-social li i,
.header_area .navbar-social li span {
  font-size: 13px;
  color: #242429;
}
.header_area .navbar-social li:last-child {
  margin-right: 0;
}
.header_area .navbar-social li a:hover i,
.header_area .navbar-social li span {
  color: #21146a;
}
.header_area .menu_nav {
  width: 100%;
}
.header_area .navbar {
  background: transparent;
  padding: 5px 0;
  border: 0px;
  border-radius: 0px;
  width: 100%;
}
@media (min-width: 991px) {
  .header_area .navbar {
    padding: 20px 0;
  }
}
.header_area .navbar .nav .nav-item {
  margin-right: 30px;
}
.header_area .navbar .nav .nav-item .nav-link {
  font-family: "Fira Sans", sans-serif;
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 700;
  display: inline-block;
}
.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}
.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
  color: #fff;
  opacity: 0.75;
}
.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}
.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}
@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4);
  }
}
.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  transition: all 400ms linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  transition: all 0.4s linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #21146a !important;
  padding: 0px 30px;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background-color: #21146a;
  color: #fff !important;
}
@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}
.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}
.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}
.header_area .navbar .search {
  font-size: 12px;
  line-height: 60px;
  display: inline-block;
  margin-left: 80px;
}
.header_area .navbar .search i {
  font-weight: 600;
}
.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #412fb3;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 20px;
}
@media (min-width: 992px) {
  .header_area.white_menu .navbar .navbar-brand img {
    display: none;
  }
  .header_area.white_menu .navbar .navbar-brand img + img {
    display: inline-block;
  }
}
@media (max-width: 991px) {
  .header_area.white_menu .navbar .navbar-brand img {
    display: inline-block;
  }
  .header_area.white_menu .navbar .navbar-brand img + img {
    display: none;
  }
}
.header_area.white_menu .navbar .nav .nav-item .nav-link {
  color: #fff;
}
.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
  display: inline-block;
}
.header_area.white_menu.navbar_fixed
  .main_menu
  .navbar
  .navbar-brand
  img
  + img {
  display: none;
}
.header_area.white_menu.navbar_fixed
  .main_menu
  .navbar
  .nav
  .nav-item
  .nav-link {
  line-height: 70px;
}
.top_menu {
  background: #ec9d5f;
}
.top_menu .float-left a {
  line-height: 40px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.top_menu .float-left a:last-child {
  margin-right: 0px;
}
.top_menu .float-right .pur_btn {
  color: #fff;
  line-height: 40px;
  display: block;
  padding: 0px 40px;
  font-weight: 500;
  font-size: 12px;
}
@media (max-width: 1619px) {
  .header_area .navbar .search {
    margin-left: 40px;
  }
}
@media (max-width: 1199px) {
  .header_area .navbar .nav .nav-item {
    margin-right: 28px;
  }
  .home_banner_area .banner_inner {
    padding: 100px 0px;
  }
  .header_area .navbar .tickets_btn {
    margin-left: 40px;
  }
  .home_banner_area .banner_inner .banner_content h2 br {
    display: none;
    font-size: 36px;
  }
  .home_banner_area .banner_inner .banner_content h2 {
    font-size: 36px;
    line-height: 45px;
  }
}
@media (max-width: 991px) {
  .navbar-toggler {
    border: none;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    margin-top: 27px;
    margin-bottom: 23px;
  }
  .header_area .navbar {
    background: #412fb3;
  }
  .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] span:first-child {
    transform: rotate(-45deg);
    position: relative;
    top: 7.5px;
  }
  .navbar-toggler[aria-expanded="true"] span:last-child {
    transform: rotate(45deg);
    bottom: 6px;
    position: relative;
  }
  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: auto;
    margin-bottom: 4px;
    transition: all 400ms linear;
    cursor: pointer;
  }
  .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav {
    padding: 0px 0px;
  }
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 117px;
  }
  .header_top .nav {
    padding: 0px;
  }
  .header_area .navbar .nav .nav-item .nav-link {
    line-height: 30px;
    margin-right: 0px;
    display: block;
    border-bottom: 1px solid #ededed33;
    border-radius: 0px;
  }
  .header_area .navbar .search {
    margin-left: 0px;
  }
  .header_area .navbar-collapse {
    max-height: 340px;
    overflow-y: scroll;
  }
  .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    padding: 0px 15px;
  }
  .header_area .navbar .nav .nav-item {
    margin-right: 0px;
  }
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 41px;
  }
  .home_banner_area .banner_inner .banner_content .banner_map_img {
    display: none;
  }
  .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 40px;
  }
  .header_area.white_menu.navbar_fixed
    .main_menu
    .navbar
    .nav
    .nav-item
    .nav-link {
    line-height: 40px;
  }
  .header_area.white_menu .navbar .nav .nav-item .nav-link {
    color: #222;
  }
  .categories_post img {
    width: 100%;
  }
  .categories_post {
    max-width: 360px;
    margin: 0 auto;
  }
  .blog_categorie_area .col-lg-4 {
    margin-top: 30px;
  }
  .blog_area {
    padding-bottom: 80px;
  }
  .single-post-area .blog_right_sidebar {
    margin-top: 30px;
  }
  .contact_info {
    margin-bottom: 50px;
  }
  .home_banner_area .donation_inner {
    margin-bottom: -30px;
  }
  .home_banner_area .dontation_item {
    max-width: 350px;
    margin: auto;
  }
  .footer_area .col-sm-6 {
    margin-bottom: 30px;
  }
  .footer_area .footer_inner {
    margin-bottom: -30px;
  }
  .news_widget {
    padding-left: 0px;
  }
  .home_banner_area .banner_inner .home_left_img {
    display: none;
  }
  .header_area .navbar .tickets_btn {
    display: none;
  }
  .home_banner_area .banner_inner {
    padding: 70px 0px 100px 0px;
  }
  .left_side_text {
    margin-bottom: 50px;
  }
  .price_item {
    max-width: 360px;
    margin: 0px auto 30px;
  }
  .price_inner {
    margin-bottom: -30px;
  }
}
@media (max-width: 767px) {
  .home_banner_area {
    min-height: 500px;
  }
  .home_banner_area .banner_inner {
    min-height: 500px;
  }
  .home_banner_area .banner_inner .banner_content {
    margin-top: 0px;
  }
  .blog_banner .banner_inner .blog_b_text h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .blog_info.text-right {
    text-align: left !important;
    margin-bottom: 10px;
  }
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 30px;
  }
  .home_banner_area .banner_inner .banner_content p br {
    display: none;
  }
  .home_banner_area .banner_inner .banner_content h3 span {
    line-height: 45px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom .footer-social {
    text-align: center;
    margin-top: 15px;
  }
  .made_life_inner .nav.nav-tabs li {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 15px;
  }
  .made_life_inner .nav.nav-tabs {
    margin-bottom: -15px;
  }
  .made_life_area.made_white .left_side_text {
    margin-bottom: 0px;
    margin-top: 30px;
  }
}
@media (max-width: 575px) {
  .top_menu {
    display: none;
  }
  .header_area + section,
  .header_area + row,
  .header_area + div {
    margin-top: 51px;
  }
  .home_banner_area .banner_inner .banner_content h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .home_banner_area {
    min-height: 450px;
  }
  .home_banner_area .banner_inner {
    min-height: 450px;
  }
  .blog_banner .banner_inner .blog_b_text {
    margin-top: 0px;
  }
  .home_banner_area .banner_inner .banner_content img {
    display: none;
  }
  .home_banner_area .banner_inner .banner_content h5 {
    margin-top: 0px;
  }
  .p_120 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .main_title h2 {
    font-size: 25px;
  }
  .sample-text-area {
    padding: 70px 0 70px 0;
  }
  .generic-blockquote {
    padding: 30px 15px 30px 30px;
  }
  .blog_details h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .blog_banner .banner_inner .blog_b_text h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .footer-area {
    padding: 70px 0px;
  }
  .pad_top {
    padding-top: 70px;
  }
  .pad_btm {
    padding-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .header_area .navbar-collapse {
    max-height: 250px;
  }
  .home_banner_area .banner_inner .banner_content {
    padding: 30px 15px;
    margin-top: 0px;
  }
  .banner_content .white_btn {
    display: block;
  }
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px;
  }
  .banner_area .banner_inner .banner_content h2 {
    font-size: 32px;
  }
  .comments-area .thumb {
    margin-right: 10px;
  }
  .testi_item .media .d-flex {
    padding-right: 0px;
  }
  .testi_item .media .d-flex img {
    width: auto;
    margin-bottom: 15px;
  }
  .testi_item .media {
    display: block;
  }
  .banner_btn {
    margin-bottom: 20px;
  }
}
.hero-banner {
  position: relative;
  background: #261f4b;
  background-size: cover;
  padding: 90px 0 60px 0;
  z-index: 1;
}
@media (min-width: 600px) {
  .hero-banner {
    padding: 150px 0 120px 0;
  }
}
@media (min-width: 991px) {
  .hero-banner {
    padding: 175px 0 160px 0;
  }
}
@media (min-width: 1200px) {
  .hero-banner {
    padding: 160px 0 275px 80px;
  }
}
.hero-banner__img {
  position: relative;
}
@media (min-width: 1200px) {
  .hero-banner__img img {
    position: absolute;
    top: 0;
    left: -110px;
  }
}
.hero-banner__content h1 {
  color: #fff;
  margin-bottom: 22px;
}
.hero-banner__content p {
  color: #fff;
  margin-bottom: 45px;
}
.hero-banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: url(../img/banner/banner-bg.png) left center no-repeat;
  background-size: cover;
  z-index: -1;
}
.button {
  display: inline-block;
  border: 1px solid transparent;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 30px;
  background-color: #fff;
  color: #21146a;
  color: #3a414e;
  transition: all 0.4s ease;
}
.button i,
.button span {
  margin-left: 5px;
}
@media (min-width: 900px) {
  .button {
    padding: 12px 45px;
  }
}
.button:hover {
  background-color: transparent;
  border-color: #21146a;
  color: #000022;
}
.button-header {
  padding: 12px 40px;
}
.button.bg:hover {
  border-color: #fff;
  color: #fff;
}
